<div class="container">
<div class="form">

<br>
<br>
<br>
 

<h2 style="margin-top:200px;font-size:30px;font-family:Algerian, sans-serif ;text-align:center;color:rgb(236, 233, 230)"> welcome to our<br></h2>
<h3 style="margin-top:30px;font-size:70px;font-family:Algerian, sans-serif;text-align:center;color:rgb(227, 224, 221);margin-left: 20px;">ck Jewellery  &  Designs</h3>
<h3 style="margin-top:20px;font-size:20px;font-family:Berlin Sans FB Demi, sans-serif;color:black"><b>Add More Glomour To Your Style With Our Gorgeous jewellery collection</b></h3>

<h1>
    <button style="cursor:pointer;transition-duration:0.4s;margin-top:190px;text-align: center;border:none;justify-content:center;margin-left:20px;border-radius: 20px;font-size: 25px;font-family: Bodoni MT, sans-serif;padding:10px;transition-duration: 0.4s;"(click)="login()">Login</button>
  </h1>

</div>
</div>
