<div class="container">
  <div class="form">
    <div class="top" style="display: flex; justify-content: space-between;">
      <div class="t1">
        <button style="margin-left:150px;margin-top:40px;border-color: rgb(252, 248, 30); border-radius:9px;width:100px;height:40px;font-family: latha, sans-serif;font-display:inherit ;font-size: medium;background:ghostwhite;color:rgb(34, 6, 6)" routerLink="/gneckles">
          <b>Back</b>
        </button>
      </div>
    </div>

    <div class="form1" style="display:flex;padding-left: 9px;background-color: rgb(255, 255, 255)">
      <form [formGroup]="employeeFormGroup" style="display: block;margin-right: 20px;">
        <h2 style="text-align: center;font-family: algerian, sans-serif;font-size:15px;margin-left:20px;margin-top: 10px;">enter ur details and buy our products</h2>
        <h2 style="text-align: left;font-size: 15px;font-family: latha, sans-serif;margin-left: 12px;">
          Customer_Name
          <div class="in" style="display:flex;padding-left: 10px;">
            <input placeholder="First_name" style="margin-right: 10px;" formControlName="employee_name" type="text" />&nbsp;
            <input style="background-color: none;" formControlName="dat" readonly name="button" class="custom_button" type="" />
          </div>
        </h2>
        <mat-error style="font-family: 'Times New Roman', Times, serif; font-size: 10px; margin-right: 170px;" *ngIf="employeeFormGroup.get('employee_name')?.invalid">
          Only alphabetic characters are allowed.
        </mat-error>

        <h1 style="text-align: left;font-size: 15px;font-family: latha, sans-serif;margin-left: 12px;">
          Design &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input style="background-color: none; width:222px;" formControlName="product" name="button" class="custom_button" type="button" value="" />
        </h1>

        <h1 style="text-align: left;font-size: 15px;font-family: latha, sans-serif;margin-left: 12px;">
          Price Before Discount &nbsp;
          <input style="background-color: none; width:222px;" formControlName="amount1" name="button" class="custom_button" type="button" value="" />
        </h1>

        <h1 style="text-align: left;font-size: 15px;font-family: latha, sans-serif;margin-left: 12px;">
          Discount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input style="background-color: none; width:222px;" formControlName="perc" name="button" class="custom_button" type="button" value="" />
        </h1>

        <h1 style="text-align: left;font-size: 15px;font-family: latha, sans-serif;margin-left: 12px;">
          Customer_Address
          <textarea style="border-radius: 10px;height: 30px;width:280px; margin-right:10px;margin-left:65px" placeholder="Address..." formControlName="password" type="text"></textarea>
        </h1>
      </form>

      <div class="content mat-elevation-z8" style="width:440px;border-radius: 50px;">
        <div class="f" style="display:flex;">
          <div class="logo3">
            <a routerLink="/couchprac8">
              <img alt="image src='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUVFRgXFhYYGBgaGBgcGhkaGBkeGhwfGRwcHBocHhweIS4nIx8rIRoeJzgmKy8xNzU1GiQ7QDs0Py40NTEBDAwMEA8QHhISHzQrJSg2QDY+QDQ0NDY2NzE2QD09NDY1NDE0NjQ0NDQ0NDQ0NDc9NDQ0NjY0NDQ0NDQ0NDQ0NjQ0NDQ0NDY0NDQ0NP/AABEIALsBGAMBIgACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABwgEBQYDAQL/xABDEAABAgMCAgUKBgYLAAAAAAABAgMABAUGEQcSITEIQVETYXGBIjJUFSMkQrHB0RZTYqKxFhdSdIKCc5LB8f/EABkBAAMBAQEAAAAAAAAAAAAAAAABAgMEBf/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOtKWgp9n//EAB8QAQACAgMAAwAAAAAAAAAAAAEAESExBRJBgf/aAAgBAQABBQKbiDc1bGZLVYZ0w2sUIynLpwQgqfnHPDKKlRgyeUmiip2Z+VITuZxHIj9L2p1zqeqXyK/te1RyTnTOofWqtjcOzRyvq8p6mqUscXt+NTyBhbpyn7i5FcIJ5eSeR3Z4FXWn0PqdzWyKk9SwuzwDXFSTJ29RTW1YVIiQsd3JFRkf//Z' style="height: 220px;width: 220px;border-radius: 8px;margin-left: 12px;" />
            </a>
          </div>

          <div class="logo3">
            <a routerLink="/tableprac8">
              <img alt="image src='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUVEhgTExIWGBgaGBoYGBgaGhgYGRgeHBwcGhoaHBweGh4kHSoiIi4pJy8vMzMzGSI4PTcwPCsxMi8BCwsLDw4PHBERGCErIyQzMzIyMzIzMzIzLi4xMjIvMzMzMTMxLi4vMzIvLy8zMi8vMzEvLy8yMzIyLzIyLy8xM//AABEIAKgBKwMBIgACEQEDEQH/xAAcAAACAgMBAQEAAAAAAAAAAAAFBgIDBAcBCf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AHh1Rn/2Q==' style="height: 220px;width: 220px;border-radius: 8px;margin-left: 20px;margin-right: 10px;" />
            </a>
          </div>

          <div class="logo3">
            <a routerLink="/desprac8">
              <img alt="image src='data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUVEhgTEhYXFxcYGBgZGBgZGBoYGBoaHBgZGRgZGhkaJicoJyomHB4rKxwqMzMzGSI4PTcwPCsxMi8BCwsLDw4PHhERGCErIyQzMzIzMzIzMzIzLi4xMjIvMzMzMTMxLi4vMzIvLy8zMi8vMzEvLy8yMzIyLzIyLy8xM//AABEIALkBEwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAFAAIDBAcCB//EADYRAQADAQACBwAAAAAAAAAAAAABEQIxEiEFMTI0kVGB/9oACAEDAQE/Ac5wCn3qeYkZLwqcVmlU6s1VoqpaKqRRykw2d1NFWyoSWWM1K0SYglLiL3E8t/Wr5M8p3S11uimlSMKijNLMbVxKs2tx9JfOpBPEajFvoo0QarFSUSvSFmFJs2pS6s2phylUbWKq2qUWzH7Ql5Kj1JEqy6mU6iZSmh5h5EFdlEqo0SvSFcRSq2qUWzHsQF/9k=' style="height: 220px;width: 220px;border-radius: 8px;margin-right: 10px;" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
