
  
  <mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"(click)="sidenav.toggle()" style="margin-left: 50px;">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
   
  <br/>  </mat-toolbar>
  
  
  
<mat-sidenav-container style="background-color:rgba(219, 212, 137, 0.801);border-radius: 20px;">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src='/assets/icon.jpg' 
    />

    <h4 style="font-size: 11px;color:rgb(239, 253, 39);font-family: algerian, sans-serif;" class="name"><b>CK JEWELLERY's AND DESIGNS</b></h4>
    <p class="designation" style="color:yellowgreen;font-size:15px;font-family: algerian, sans-serif;">DESIGNS</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/purchase">
      <mat-icon style="color:yellow">home</mat-icon>
       <span>Home</span>


    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/spendant">
      <mat-icon style="color:rgb(99, 245, 26)">home</mat-icon>
      <span>Bangles_Section</span>
    </button>

    <button mat-button class="menu-button" routerLink="/sneckle" >
      <mat-icon style="color:rgb(99, 245, 26)">home</mat-icon>
      <span>Necklace_section</span>
    </button>

    <button mat-button class="menu-button" routerLink="/searring" >
      <mat-icon style="color:rgb(99, 245, 26)">home</mat-icon>
      <span>Earrings_Section</span>
    </button>

    <button mat-button class="menu-button" routerLink="/sring" >
      <mat-icon style="color:rgb(99, 245, 26)">home</mat-icon>
      <span>Rings_Section</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button"  routerLink="/sview"   >
      <mat-icon style="color:rgb(205, 245, 26)">home</mat-icon>

      <span>Read</span>
    </button>
    <button mat-button class="menu-button"  routerLink="/sabout" >
      <mat-icon style="color:rgb(205, 245, 26)">home</mat-icon>

      <span>About</span>
    </button>

  </mat-sidenav>

    <mat-sidenav-content>
      <div class="content mat-elevation-z8">

  
          
        <section id="he" style="height: 95%;">
          
        
            <!--3rd footer containe-->
<div class="container" style="display:flex;width: 100%; border-radius:20px; background-image:linear-gradient(rgba(202, 195, 140, 0.582),rgba(214, 214, 150, 0.336)) , url('/assets/footer3.jpg');background-repeat: no-repeat;background-size: 1300px;">
  <div class="logo1" style="width:800px;">
    <div class="foot" style="justify-content: left;text-align: left;">
        <h4 style="color:gold;font-size: 40px;font-family: Latha, sans-serif ;text-align: center;margin-top:30px;">ONLINE SHOWROOM </h4>
      <h4 style="font-size: 15px;font-family: Latha , sans-serif;text-align: center;">you can visit or showroom at the following times.</h4>
  <h2 style="color:rgb(197, 174, 45);font-size: 25px;font-family: Latha , sans-serif;font:bold;text-align: left;margin-left:40px;margin-top:30px;"><b>WEEKDAYS</b></h2>
  <h3  style="color:black;font-size: 20px;font-family: Latha , sans-serif ;font:bold;text-align: left;margin-left:50px;margin-top:20px;">Mon - Fri:10pm - 4:30pm</h3>
  <h3  style="color:black;font-size: 20px;font-family: Latha , sans-serif;font:bold;text-align: left;margin-left:50px;margin-top:20px;">Sat: by Appointment</h3>
  <h3  style="color:black;font-size: 20px;font-family: Latha , sans-serif;font:bold;text-align: left;margin-left:50px;margin-top:20px;">Sun: Closed</h3>
        <br/><button style="margin-left: 170px;border-color: ghostwhite; height:40px;font-family: latha, sans-serif;font-display: grid-template ;font-size: medium;background: none;" routerLink="/dashboard1"><b>view our range</b></button>
        </div>
        </div>
        
<div class="logo1" style="width:800px;">
  <h1 style="color:gold;font-size: 40px;font-family: Latha, sans-serif ;text-align: center;margin-top:30px;">CONTACT</h1><br/>
  <h4 style="color:rgb(205, 183, 62);font-size: 25px;font-family: Latha , sans-serif;font:bold;text-align: left;margin-left:40px;margin-top:20px;"><b>PHONE :</b>
  <h3  style="color:black;font-size: 20px;font-family: Latha, sans-serif ;font:bold;text-align: left;margin-left:50px;">+91 9790203990</h3></h4>
  <h2 style="color:rgb(205, 183, 62);font-size: 25px;font-family: Latha , sans-serif;font:bold;text-align: left;margin-left:40px;"><b>Email :</b>
<h2  style="color:black;font-size: 20px;font-family: Latha , sans-serif;font:bold;text-align: left;margin-left:50px;">ckjewellery@gmail.com</h2></h2>
<h3 style="color:rgb(205, 183, 62);font-size: 25px;font-family: Latha, sans-serif ;font:bold;text-align: left;margin-left:40px;margin-top:30px;"><b>ADDRESS :</b>
<h2  style="color:black;font-size: 20px;font-family: Latha, sans-serif ;font:bold;text-align: left;margin-left:90px;">6/kamarj st;
<h2  style="color:black;font-size: 15px;font-family: Latha, sans-serif ;font:bold;text-align: left;">MADURAI</h2> </h2></h3>
        </div>
            
        </div>
      
       
<div >
  <hr>
  <h4 routerLink="/purchase" style="color:rgb(83, 112, 121);font-size: 13px;font-family: Latha, sans-serif ;font:bold;text-align: center;margin-left:55px; ">© 2023, cK Jewels and designs
  <h4 routerLink="/purchase" style="color:rgb(83, 112, 121);font-size: 11px;font-family: Latha, sans-serif ;font:bold;text-align: center;margin-left:8px; ">ckjewellery@gmail.com </h4></h4>
  
  
  </div>
      </section>
        
 
        
  <br/><br/>
  
  
  
  
  
      </div>
  
  
    </mat-sidenav-content>
  </mat-sidenav-container>
